#### Comments (#) –  Comments are like sticky notes in your code. They start with # and are ignored by Python, so they’re just for you or others to understand what the code does.<br>
#### Example: # This calculates your age<br>
#### Indentation (Spaces/Tabs) – Python uses them to group code (like paragraphs in a book).<br>
#### Code Blocks – Sections of code that belong together (e.g., inside loops or functions).<br>
#### Keywords – Special words Python reserves (e.g., if, for, while). Don’t use these as variable names!

### comments

In [ ]:
a = 50 # define the first varriable 'a'
b = 90 # define the second Varriable 'b'
c = a * b # multiplyng the first and second varribles
print({c}) # bringing out the result of the calculation

{4500}

### Indentation

In [ ]:
ALU = 0.5700
if ALU < 0.6450:
    print("Buy Opportunity") # Indentation indicates using spaces or a tab

Buy Opportunity

In [17]:
Number = 5
if Number > 1:
    print(f"{Number} is greater than 1") # Another Indentation

5 is greater than 1

### f-string (short for formatted string literal) is a way to embed expressions (like variables or calculations) directly inside a string using a concise and readable syntax. it make and expressiion or varriable to stay alive and dinamic. example below

In [19]:
BTC = 98000
if BTC < 99000:
    print(f"Time to review related portfolio as BTC is {BTC}")

Time to review related portfolio as BTC is 98000

### Input 
##### used to enable users oppotunity to enter data response(s). See example below

In [2]:
asset = input("Enter your favourite Crypto Asset: ")
print("My favourite crypto asset is: " + asset )

My favourite crypto asset is: sol

### Varriable

#### Varriables are named container that stores data. 
#### for example score = 100. the varriable is the "score"
#### Rules of using Varriables
####    1 Start with a letter or _ (not a number)
####    2 It can Contain Number, Letter or underscore(_) (no space or symbol)
####    3 Can be Case sensitive (Name =! name)
####    4 Avoid Python Keywords (eg print, if, etc)

#### Assignment (=). This must be present
#####   fruit = 'Apple'. this put apple into the varrible apple.
#####   Can be updated later as fruit = 'Banana'

### Varriables

In [ ]:
Name = "John" #### this a string varriable
Height = 4.5 #### this is a float varriable
Age = 5 #### this integer varriable
_is_valid = True #### this is a boolen varible

### Varriables Case Sensitivity

In [7]:
#### Varriable are case Sensitive
Name = "John"
Name = "john"

### Varriable Assignment

In [10]:
#### Assignment
x = 12 #### Assigning value 12 to the varriable x
y = 25 #### Assigning value 25 to the varriable y

#### Multiple Assignment
x, y = 5, 9 #### Assign 5 to x and 9 to y in a single line

### Data Type

##### Data types categorise different data base on how they behave and allowed operation

### Common Data Type

##### Text Data Type

##### String

In [ ]:
##### String Data type also know as string data type
State = "Lagos" ##### String Data type
Country = "Nigeria"  ##### Another string Data type``

### Numberic Data Type
####  This data type store numerical values such as 1, 2, or 3.2, etc

###  Common Numeric Data type
##### - Integer

In [ ]:
### Integer stores whole numbers
ETH = 2305

##### -Float

In [ ]:
### Float Stores decimal numbers. E.g
Assets = 23.50

##### -Boolean

In [ ]:
##### Boolen data type stores condition value such as true, false, or yes, etc
_is_valid = False
invalid = True

### Sequence Data Type
##### This store series of values or data
#### Common Data type

#### - List

In [ ]:
##### A list data type is an ordered collection of items 
CrptoAssets = {'BTC', 'ETH', 'SOL'}
print(CrptoAssets)

{'BTC', 'SOL', 'ETH'}

In [15]:
CrptoAssets1 = {'50','22','3.4',}
CrptoAssets1

{'22', '3.4', '50'}

#### - Tuple

In [14]:
##### Tuple data type used parenthesis and the data stored are immutable
AgeRange = (23,32,45)
print(AgeRange)

(23, 32, 45)

In [16]:
AgeRange1 = ('four','three','seven')
AgeRange1

('four', 'three', 'seven')

##### - Dictionary Data type

In [ ]:
#### Dictionary stores information that goes together covered with coily braces{}
CryptoPrices = {'BTC': 98000,'ETH':2300,'SOL':160}
print(CryptoPrices)

{'BTC': 98000, 'ETH': 2300, 'SOL': 160}

#### - Set

In [3]:
#### Set data type stores an ordered collection of unique items. A value does not apear twice. 
SetDataType = {1,2,3}
print(SetDataType)

{1, 2, 3}

#### - None
##### None data type stores empty values like Null, Blank, etc

### Checking Data Type

In [5]:
age = 39
# print(f'My age is {age}')
print(type(age))

<class 'int'>

### Coverting Data Types

In [7]:
age = '39'
int(age)
print(f'My age is {age}')

My age is 39

In [9]:
Salary = 'Seventy-Thousand'
str(Salary)
print(Salary)

Seventy-Thousand

#### (1)Common Method and Function in String

In [5]:
Name = 'BloCKchaIn'
len(Name) # Returns the number of characters in a string

10

In [4]:
Name = 'BloCKchaIn'
Name.lower() # Convert Upper case to Lower Case in a string

'blockchain'

In [6]:
Name = 'BloCKchaIn'
Name.upper() # Convert Lower case to Upper Case in a string

'BLOCKCHAIN'

In [12]:
Name = " Blockchain"
Name.strip() # Remove whitespace or specifit character from the beggining and end of a string

'Blockchain'

In [ ]:
y = 'BlockchaIn'
y=y.replace('BlockchaIn','Crypto') # Replace a string with another string
y

'Crypto'

In [ ]:
x = 'BloCKchaIn, cryptos, asset, price'
x = x.split(',') # split different string into seperate column
x

['BloCKchaIn', ' cryptos', ' asset', ' price']

In [ ]:
P = 'CryptoAsset'
'Asset' in P # check if a set of character is inside a string

True

#### 2 List[]: Ordered, mutable, and indexsble set of elements

In [25]:
Tokens = ['BTC', 'ALU','HBAR','SOL']
type(Tokens)

list

#### Common Method of List[]

In [55]:
Tokens = ['BTC', 'ALU','HBAR','SOL']
len(Tokens) # lenght of list

4

In [56]:
Tokens = ['BTC', 'ALU','HBAR','SOL']
Tokens.append ('TIA') # Add to the end of list
print(Tokens)

['BTC', 'ALU', 'HBAR', 'SOL', 'TIA']

In [ ]:
Tokens = ['BTC', 'ALU','HBAR','SOL']
Tokens.insert(2,'ADA') # Add to the list
Tokens

['BTC', 'ALU', 'ADA', 'HBAR', 'SOL']

In [57]:
Tokens.remove('ALU') # remove from list using string
Tokens

['BTC', 'HBAR', 'SOL', 'TIA']

In [77]:
Token= ['BTC','TIA', 'SOL','ETH','ADA', 'ALU']
Token.pop(2) # remove from list using index
Token

['BTC', 'TIA', 'ETH', 'ADA', 'ALU']

In [78]:
Token.sort() # Sort elements in a list
Token

['ADA', 'ALU', 'BTC', 'ETH', 'TIA']

In [80]:
Token.reverse() # Return a list to its previous state
Token

['TIA', 'ETH', 'BTC', 'ALU', 'ADA']

#### Index and Slicing

In [ ]:
z = ['BTC','TIA', 'SOL','ETH','ADA', 'ALU']
z[2] # to fetch out element in list by index

'SOL'

In [82]:
z = ['BTC','TIA', 'SOL','ETH','ADA', 'ALU']
z[2:4] # extracts a portion of a string (or list) starting at index 2 up to but not including index 4

['SOL', 'ETH']

In [ ]:
z = ['BTC','TIA', 'SOL','ETH','ADA', 'ALU']
z[2:] # extracts a portion of a string (or list) starting at index 2 up to the end

['SOL', 'ETH', 'ADA', 'ALU']

In [92]:
z = ['BTC','TIA', 'SOL','ETH','ADA', 'ALU']
r = z[0], z[4]
print(r)

('BTC', 'ADA')

#### 3 Dictionary:
##### It is unordered and mutable collection of key:value Pair

In [94]:
Wallet = {
    'Address':'0xABC',
    'Balance': 5.4,
    'is_active': 'True'

}
print(Wallet)

{'Address': '0xABC', 'Balance': 5.4, 'is_active': 'True'}

##### Common Method in Dictionary

In [ ]:
Wallet['Balance'] # dic('key') to get value by key in the dictionary

5.4

In [99]:
Wallet.get('Address') # .get(Key) gives us assess to the value in the dictionary

'0xABC'

In [ ]:
Wallet.keys() #.keys() gives us all the keys

dict_keys(['Address', 'Balance', 'is_active'])

In [102]:
Wallet.values() # .values() gives us all the values

dict_values(['0xABC', 5.4, 'True'])

In [104]:
Wallet.items() # .items gives us all the key and the values

dict_items([('Address', '0xABC'), ('Balance', 5.4), ('is_active', 'True')])

In [115]:
Wallet.update({'balance':700}) # .update({"key":value}) allows to update a value in a wallet
print(Wallet)

{'Address': '0xABC', 'Balance': 5.4, 'is_active': 'False', 'balance': 700}

In [116]:
Wallet.update({'is_active':'True'})
Wallet

{'Address': '0xABC', 'Balance': 5.4, 'is_active': 'True', 'balance': 700}

In [117]:
Wallet.pop('is_active') # .pop is used to remove by key
Wallet

{'Address': '0xABC', 'Balance': 5.4, 'balance': 700}